.Button {
  box-sizing: border-box;

  position: relative;
  width: 219px;
  height: 50px;

  background: rgba(255, 255, 255, 0.12);
  border: 3px solid #FFA740;
  border-radius: 10px;

  text-align: center;

  //font-family: OpenSans, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  /* identical to box height */

  color: #FFFFFF;

  cursor: pointer;

  transition: all 0.5s;
}

.Button:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}