@import '../../assets/styles/index.scss';

.button {
    width: 27rem;
    height: 5.7rem;

    @include font-style(2rem, 2.7rem, 600, $white);
    font-family: 'Open Sans';
    
    background-color: $orange;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    @include tablet {
        width: 20rem;
        height: 4rem;

        @include font-style(1.6rem, 2.2rem, 500, $white);
    }

    @include  max-mobile {
        width: 14rem;
        height: 3rem;

        @include font-style(1.2rem, 1.8rem, 400, $white);
    }

    @include  min-mobile {
        width: 10rem;
        height: 2.6rem;
        
        @include font-style(1rem, 1.4rem, 400, $white);
    }
}