.ctf-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__first-section {
    width: 100%;
    margin-top: 87px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/public/images/directions2.jpg);
    background-size: cover;
  }

  &__second-section {
    width: 100%;
  }

  &__third-section {
    width: 100%;
    min-height: 400px;
  }
}

.container-ctf {
  padding-left: 101px;
  padding-right: 128px;
  color: #FFF;
}

.container-black {
  padding-left: 101px;
  padding-right: 128px;
  color: #000;
}

.header-text {
  text-align: left;
  margin: 44px 0 35px 0;
  font-size: 32px;
}

.description {
  font-size: 22px;
  font-family: "Calibri Light";
}

.first-description-block {
  display: flex;
}

.second-description-block {
  display: flex;
  margin: 40px 0;
}
