@import '../../assets/styles/index.scss';

.footer {
    min-width: 100%;
    height: 17rem;
    padding: 3rem 12rem;

    @include font-style(1.6rem, 2.2rem, 400, $white);

    background-color: $dark-grey;

    &__title {
        margin-bottom: 1.4rem;

        @include font-style(1.8rem, 2.5rem, 600);

        @include tablet {
            margin-bottom: 1rem;

            @include font-style(1.6rem, 2.2rem, 400);
        }

        @include max-mobile {
            margin-bottom: .8rem;

            @include font-style(1.2rem, 1.7rem, 400);
        }

        @include min-mobile {
            margin-bottom: .8rem;

            @include font-style(1rem, 1.4rem, 400);
        }
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        @include font-style(1.4rem, 1.9rem, 300, $white);

        @include tablet {
            margin-bottom: 1rem;
        }

        @include max-mobile {
            margin-bottom: .8rem;

            @include font-style(1rem, 1.4rem);
        }

        @include min-mobile {
            margin-bottom: .5rem;

            @include font-style(.8rem, 1.1rem);
        }
    }

    &__name {
        max-width: 45.6rem;
        width: 100%;

        @include tablet {
            max-width: 21.5rem;
        }

        @include max-mobile {
            max-width: 15.5rem;
        }

        @include min-mobile {
            max-width: 12.1rem;
        }
    }

    &__email {
        max-width: 20rem;
        width: 100%;

        @include tablet {
            max-width: 13.7rem;
        }

        @include max-mobile {
            max-width: 9.1rem;
        }

        @include min-mobile {
            max-width: 8.1rem;
        }
    }

    &__link {
        max-width: 20rem;
        width: 100%;

        display: flex;
        gap: 2rem;

        text-decoration: none;
        color: $white;

        @include tablet {
            max-width: 13.9rem;
            gap: 1.4rem;
        }

        @include max-mobile {
            max-width: 11rem;
            gap: 1rem;
        }

        @include min-mobile {
            max-width: 8.5rem;
            gap: 1rem;
        }
    }

    &__icon {        
        @include tablet {
            max-width: 1.5rem;
            margin-top: .3rem;
        }

        @include max-mobile {
            max-width: 1.2rem;
        }

        @include min-mobile {
            max-width: 1rem;
        }
    }

    @include tablet {
        height: 15rem;
        padding: 1.8rem 9rem;

        @include font-style(1.4rem, 1.9rem, 300, $white);
    }

    @include max-mobile {
        height: 11.5rem;
        padding: 1.2rem 3.5rem;

        @include font-style(.8rem, 1.1rem, 300);
    }

    @include min-mobile {
        height: 8.5rem;
        padding: .7rem 2rem;

        @include font-style(.8rem, 1.1rem, 300);
    }
}