.Background {
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  top: 0;
  width: 100%;

  min-height: 1684px;

  //background: #101010;
  background-image: url('/public/images/bio-background.jpg');
  background-position: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Heading {
  width: 100%;
  min-height: 142px;
  /*left: calc(50% - 261px);*/
  /*top: ;*/
  margin-top: 100px;

  text-align: center;
  justify-items: center;

  //font-family: OpenSans, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 127px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #FFA740;
}

.Description {
  width: 100%;
  /*height: 189px;*/
  position: relative;

  display: flex;
  justify-content: center;
}

.DescriptionTextBlock {
  width: 1180px;
  height: 100%;

  padding: 15px 12px 15px 12px;

  //font-family: OpenSans, serif;
  font-style: italic;
  font-weight: 200;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.025em;

  color: rgba(255, 255, 255, 0.73);

  background: rgba(255, 255, 255, 0.12);
}

.Biography {
  width: 100%;

  margin-top: 69px;
}

.BioFirstBlock {
  min-height: 469px;
  width: 100%;

  display: flex;
  justify-content: left;
}

.PhotoBackground {
  width: calc(50% - 411px);
  height: 468px;
  left: 0;

  background: rgba(255, 255, 255, 0.12);
}

.PortretPhoto {
  /*position: relative;*/

  width: 374px;
  height: 431px;

  margin-top: 18px;
  margin-left: -260px;
}

.FirstBlockText {
  width: 867px;
  min-height: 431px;

  margin-left: 51px;
  margin-top: 18px;

  //font-family: OpenSans, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  color: #FFFFFF;
}

.SecondBlock {
  position: relative;
  margin-top: 39px;

  width: 100%;

  display: flex;
  justify-content: center;
}

.SecondBlockText {
  width: 1350px;

  /*margin-left: calc(50% - 665px);*/

  //font-family: OpenSans, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  color: #FFFFFF;
}

.LowerButton {
  position: relative;
  width: 100%;

  padding-top: 75px;
  margin-bottom: 100px;

  display: flex;
  justify-content: center;
}