.main {
  height: 95px;
  margin: 0 21px 16px 0;
  background-color: rgba(152, 89, 172, 0.2);
  border-radius: 10px;
}

.image-vector {
  height: 70px;
  width: 70px;
  margin: 13px 0 12px 26px;
}

.description-span {
  font-size: 20px;
  line-height: 85px;
  padding: 0 30px;
}
